#map {
	height: 800px;
	}

body {
	padding-top: 5em;
	font-family: Georgia, "Times New Roman",
		Times, serif;
	color: white;
	/*couleur de police dans le corps*/
	background-color: #000033 
	/*couleur de fond dans le corps*/ }
